<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Cadastrar Livro</title>
	<script type="text/javascript" th:src="@{/js/actions.js}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
		integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
		crossorigin="anonymous"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
		integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
		integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
</head>

<body>
	<header th:replace="fragments/header :: menuSuperior">
		<div>header</div>
	</header>
	<div class="container my-5">
		<br />
		<h3>Cadastrar Livro</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">
					<form action="#" th:action="@{/livros/save}" th:object="${livro}" method="post">
						<div class="row">
							<div class="form-group col-md-4">
								<label for="isbn" class="col-form-label">ISBN</label>
								<input type="text" th:field="*{isbn}" class="form-control" id="isbn" placeholder="isbn">
								<span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"
									class="text-danger"> 
								</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-8">
								<label for="autor" class="col-form-label">Autor</label> 
								<input type="text" th:field="*{autor}" class="form-control" id="autor" placeholder="Autor"> 
								<span
									th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}"
									class="text-danger"> 
								</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-8">
								<label for="titulo" class="col-form-label">Titulo</label> 
								<input type="text" th:field="*{titulo}" class="form-control" id="titulo" placeholder="Titulo"> 
								<span
									th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"
									class="text-danger">
								</span>
							</div>
							<div class="form-group col-md-20">
								<input type="submit" class="btn btn-primary" value="Cadastrar Livro"> 
								<a type="submit" class="btn btn-primary" th:href="@{/livros/consultar}">Lista de Livros</a> 
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<h6 th:text="${message}" class="text-danger"></h6>
	</div>
	<footer th:replace="fragments/footer :: rodape">
		<div>footer</div>
	</footer>
</body>
</html>