<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Lista de Livros</title>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
		integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
		crossorigin="anonymous"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
		integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
		integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
</head>

<body>
	<div class="btnbackdiv">
		<a th:href="@{/livros/cadastrar}" class="btn btn-primary"><i
				class="glyphicon glyphicon-arrow-left"></i>Voltar</a>
	</div>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h2 class="panel-title">Lista de livros</h2>
			<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
			<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
		</div>
		<div class="panel-body" th:switch="${livros}">
			<h2 th:case="null">Não existem livros cadastrados ainda!</h2>
			<div th:case="*">
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>ISBN</th>
							<th>Titulo</th>
							<th>Autor</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="livro : ${livros}">
							<td th:text="${livro.id}"></td>
							<td th:text="${livro.isbn}"></td>
							<td th:text="${livro.titulo}"></td>
							<td th:text="${livro.autor}"></td>
							<td>
								<div class="btn-group pull-right">
									<a class="btn btn-sm btn-primary"
										th:href="@{/livros/edit/{isbn}(isbn=${livro.isbn})}">Editar</a>
									<a class="delete btn btn-sm btn-danger"
										th:href="@{/livros/delete/{id}(id=${livro.id})}">Excluir</a>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>